/* Opiniones.module.css */

.opiniones {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .opiniones h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .review {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }
  
  .review p {
    margin: 0;
    font-size: 1em;
    color: #555;
  }
  
  .review strong {
    color: #333;
  }
  